html {
  background: url('/images/world.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Josefin Slab', serif;
}

.page-column {
  display: flex;
  justify-content: center;
  background-color: #473E64;
  margin: 70px;
  opacity: 0.7;
  color: white;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.navigation {
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.site-title {
  font-size: 70px;
  font-family: 'Josefin Slab', serif;
}

.buttons {
  display: flex;
  align-items: center;
}
