<%- include ./partial/header.ejs %>

  <form action="/login" method="POST">
    <input name="email" type="text" placeholder="Email"  />
    <input name="password" type="password" placeholder="Password" />
    <button type="submit"> Submit </button>
  </form>

<%- include ./partial/footer.ejs %>
