<%- include ./partial/header.ejs %>

  <form action="/signup" method="POST">
    <input name="fullName" type="text" placeholder="Full Name" />
    <input name="email" type="text" placeholder="Email"  />
    <input name="password" type="password" placeholder="Password" />
    <input name="current_city" type="text" placeholder="Current City" />
    <button type="submit"> Submit </button>
  </form>

<%- include ./partial/footer.ejs %>
